---
import { Card } from '@/components/Card'
import Layout from '@/layouts/Simple.astro'
import { formatDate } from '@/lib/formatDate'
import { relativeDate } from '@/lib/relativeDate'
import { getPosts } from '@/lib/getPosts'

const posts = await getPosts()
---

<Layout
  title="Blog"
  description="Writing on software engineering, management, and working remotely."
>
  <Fragment slot="title">
    Writing on software engineering, management, and working remotely.
  </Fragment>

  <Fragment slot="intro">
    All of my long-form thoughts in chronological order. Including the stuff I
    don't believe anymore but I keep for historical purposes.
  </Fragment>

  <div
    class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40"
  >
    <div class="flex max-w-3xl flex-col space-y-16">
      {
        posts.map((post) => (
          <article class="md:grid md:grid-cols-4 md:items-baseline">
            <Card className="md:col-span-3">
              <Card.Title href={`/blog/${post.slug}`}>
                {post.data.title}
              </Card.Title>
              <Card.Eyebrow
                as="time"
                className="md:hidden"
                dateTime={formatDate(post.data.date)}
                decorate
                title={formatDate(post.data.date)}
              >
                {relativeDate(post.data.date)}
              </Card.Eyebrow>
              <Card.Description>{post.data.summary}</Card.Description>
              <Card.Cta>Read article</Card.Cta>
            </Card>
            <Card.Eyebrow
              as="time"
              className="mt-1 hidden md:block"
              dateTime={formatDate(post.data.date)}
              title={formatDate(post.data.date)}
            >
              {relativeDate(post.data.date)}
            </Card.Eyebrow>
          </article>
        ))
      }
    </div>
  </div>
</Layout>
